/*#chadbeans {
  width: 750px;

}*/
/*
.cartImage {
  max-width: 100%;

}*/
/*.rightSideColumn {
  padding-top: 100px;
}*/

body {
  background-color: #FBDB86;
}
.jumbotron h1 {
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.1em;
  color: white;
}
.jumbotron small {
  color: white;
}

.jumbotron {
  margin-top: -75px !important;
  background-image: url(../img/burger.png);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  /*opacity: 0.4;*/
  margin-bottom: 20px;
  }

.menuPic {
  width: 50px;
  height: 50px;
  overflow: hidden;
  align-items: center;
  float: right;
  cursor: pointer;

}

.modalPic {
  width: 560px;

}

.cartImage {
  width: 750px;
  height: 250px;
  overflow: hidden;
  align-items: center;
}

.cartImage img {
  width: 100%;
}

/*#newEntry{
  display: none;
}*/
